#pbModules {
	width: 17%;
	z-index: 999;
	// border: 1px dotted $layoutBorder;
	// border-radius: 5px;
	padding: 10px;
	float: left;
	.title {
		text-align: center;
		margin-bottom: 10px;
		font-size: 14px;
	}
	li {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 5px;
		min-height: 30px;
		width: 95%;
		overflow: hidden;
		.handle {
			.controls {
				display: none;
			}
		}
		.content {
			display: none;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.desc {
			font-size: 11px;
			padding-top: 45px;
			padding-bottom: 15px;
			text-align: center;
			display: block;
		}
	}
}